name: Build backend container image

on:
  push:
    branches:
      - '*'
  workflow_dispatch:

env:
  IMAGE_NAME: proj-mgmt-backend
  REGISTRY: ghcr.io

jobs:
  docker:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} 
        
      - name: Set lowercase image tag
        id: image-tag
        run: |
          OWNER_LOWER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_LOWER=$(echo "${{ env.IMAGE_NAME }}" | tr '[:upper:]' '[:lower:]')
          echo "tag=${{ env.REGISTRY }}/${OWNER_LOWER}/${IMAGE_LOWER}:latest" >> $GITHUB_OUTPUT

      - name: Build image and Push to GHCR
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          load: true
          tags:  ${{ steps.image-tag.outputs.tag }}

      - name: Verify image is available locally
        run: docker images | grep ${{ env.IMAGE_NAME }}

